<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lego Test</title>
  </head>
  <body>
    <!-- lego::if one == "" -->
      <p>Hello world</p>
    <!-- lego::endif -->
    
    <!-- lego::if one != "" -->
      <p>Hello world</p>
    <!-- lego::endif -->
    
    <!-- lego::if two == "two" -->
      <p>Hello again</p>
    <!-- lego::endif -->
    
    <!-- lego::if two != "two" -->
      <p>Hello again</p>
    <!-- lego::else -->
      <p>Else</p>
    <!-- lego::endif -->
    
    <!-- lego::if arr[0] == "str" -->
      <p>Str</p>
    <!-- lego::endif -->
  </body>
</html>