<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lego Test</title>
  </head>
  <body>    
    <!-- lego::use stuff with obj1 -->
    
    <!-- lego::define para -->
      <p><!-- lego::insert $this --></p>
    <!-- lego::enddefine -->
    
    <!-- lego::foreach arr -->
      <!-- lego::use $root.para with $this -->
    <!-- lego::endforeach -->
    
    <!-- lego::foreach arr -->
      <!-- lego::use $root.para with $root.obj1 -->
    <!-- lego::endforeach -->
  </body>
</html>