<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lego Test</title>
  </head>
  <body>
    <!-- lego::if showHeader -->
      <!-- lego::if showHeader -->
        <!-- lego::require ./header.html -->
      <!-- lego::endif -->
    <!-- lego::endif -->
    
    <!-- lego::notif showHeader -->
      <p>Bar</p>
    <!-- lego::endif -->
    
    <!-- lego::if comp -->
      <!-- lego::if arr.length is comp -->
        <p>Bar1</p>
      <!-- lego::endif -->
      
      <!-- lego::if arr.length is 3 -->
        <p>Bar2</p>
      <!-- lego::endif -->
      
      <!-- lego::notif arr.length is 5 -->
        <p>Bar3</p>
      <!-- lego::endif -->
    <!-- lego::endif -->
  </body>
</html>