<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lego Test</title>
  </head>
  <body>
    <!-- lego::if one is "" -->
      <p>Hello world</p>
    <!-- lego::endif -->
    
    <!-- lego::if one isnt "" -->
      <p>Hello world</p>
    <!-- lego::endif -->
    
    <!-- lego::if two is "two" -->
      <p>Hello again</p>
    <!-- lego::endif -->
    
    <!-- lego::if two isnt "two" -->
      <p>Hello again</p>
    <!-- lego::endif -->
    
    <!-- lego::if arr[0] is "str" -->
      <p>Str</p>
    <!-- lego::endif -->
  </body>
</html>