<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lego Test</title>
  </head>
  <body>
    <!-- lego::foreach obj -->
      <!-- lego::if $value -->
        <p><b><!-- lego::insert $key --></b><!-- lego::insert $value --></p>
      <!-- lego::endif -->
    <!-- lego::endforeach -->
    
    <!-- lego::foreach arr.arr -->
      <!-- lego::insert $this -->
    <!-- lego::endforeach -->
    
    <!-- lego::foreach arr.arr -->
      <!-- lego::if $root.arr2 -->
        <!-- lego::insert $this -->
      <!-- lego::endif -->
    <!-- lego::endforeach -->
    
    <!-- lego::foreach arr.arr -->
      <!-- lego::if $root.arr -->
        <!-- lego::insert $this -->
      <!-- lego::endif -->
    <!-- lego::endforeach -->
  </body>
</html>